@import 'command.scss';

.visual { width: 100%; }
.visual a img { width: 100%; } 

.quick{

    img { width: auto; }
    .flex { 

        flex-wrap: wrap; 
        justify-content: space-between;

        li  { padding: 10px 0px; width: 25%; text-align: center; }
        li span { display:block; color:$title-color; font-size: 12px; }
    }
}


.section { background: #fff; padding-bottom: 20px; }
.section.mt_8 { margin-top: 8px; }

.Stitle {
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    .plus { cursor: pointer; 
        a { color:$title-color; font-size: 13px ; font-weight: 500; }    
    }    
}

.bg_yellow_patten { background:url(../images/bg_yellow_patten.png) no-repeat 100%; background-size: 100%; 
    .Stitle .plus { position: relative; top:0px; right: 16px; }
}

.bg_yellow_patten .command_box {

    width: 200%;

    li { 
        padding: 26px 0px;
        margin-right: 10px;
        width: 20%;
        background-color: #fff; 
        border-radius: 5px;
        text-align: center;

        .img img { width:56px; } 
        .text {
            p { padding: 3px; font-size: 14px; }
            .title { font-size: 16px; }
        }
    }

}